*{
    margin: 0;
    padding: 0;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}

.clear::after{
    content:"";
    clear: both;
    display: block;
}

.left{
    float: left;
}

.right{
    float: right;
}

img{
    max-width: 100%;
}

.mid-content{
    max-width: 1300px;
    margin: auto;
}

a{
    text-decoration: none;
}

body,h1,h2,h3,h4,h5,h6,a,span,p{
    font-family: "Reddit Mono", monospace;
}

.button a{
    color: #6278df;
    background-color: #faf8f8;
    padding: 20px 40px 20px 40px;
    border: 3px solid #6278df ;
    border-radius:10px;
    font-size: 20px;
    font-weight:1000;
    color: #7d7d7d;
}

.button a:hover{
    color:#faf8f8;
    background-color: #6278df;
    border: 3px solid #6278df ;
    border-radius: 10px;
    font-size: 20px;
    font-weight:1000;
   
}


/*BEGAIN___MAIN___CSS*/

.header-section{
   background-color: #fff; 
   border-bottom: 1px solid #ddd;
   padding-top: 10px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 99;
   margin-bottom: 70px;
}

.header-section a{
    color:#010101 ;
}

.header-logo{
    width: 30%;
}

.logo img{
  height:60px;  
  float: left;
}
.header-menu{
    width: 56%;
}

.header-button{
    width: 14%;
    color: #6278df;
    margin-top: 10px;
  
}

.header-button a{
    color: #6278df;
    background-color: #faf8f8;
    padding: 10px 30px 10px 30px;
    border: 3px solid #6278df ;
    border-radius: 5px;
}
.header-button a:hover{
    color:#faf8f8;
    background-color: #6278df;
    padding: 10px 30px 10px 30px;
    border: 3px solid #6278df ;
}


.logo span{
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.primary-menu ul li{
    display: inline-block;
    z-index: 10;
    padding-top: 10px;
}
.primary-menu ul li a{
    display: block;
    padding-left: 30px;
    padding-top: 10px;
   
    
}


/*DROPDOWN___MENU*/

.primary-menu ul li{
    position: relative;
}

.primary-menu ul li ul{
    position: absolute;
    width:250px;
    padding: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
   
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility:visible;  
}


/* <!-- BANNER___SECTION --> */



.banner{
    background-image: url(https://mobirise.com/extensions/appamp/assets/images/mbr-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0;
    background-color: #232423;
    position: relative;
    z-index: 9;
    
}

.banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index:-1;
}

.banner h2{
   margin-top: -20px;
   color: #fff;
}

.banner h1{
    padding: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 70px;

}

.button a{
   margin-left: 20px;
  
}

/*BANNER__---2*/
.banner2 {
   padding: 50px;
    background-color: #f3f6fe;
}

.video{
    width: 48%;
}

.video-content{
    width: 48%;
}

.video-content h1{
    font-size: 40px;
    width: 80%;
    font-weight: 300;
    padding-bottom: 30px;
}

.video-content p{
    width: 80%;
    font-size: 18px;
    font-weight: 200;
}


/* BANNER______3 */




.line h1{

    font-size: 50px;

}

.line p{
    margin-top:30px;
    font-size: 20px;
}

.line{
    padding: 100px 0px;
}

.list{
    width:30%;
    height: 250px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .1);
    margin-bottom: 50px;
    margin-left:3%;
}

.icon{
    color: #6278df;
    font-size: 30px;
    height:500px;
    width:80px;
    float: left;
    margin-top:40px;
    margin-left: 30px;
    
}

.letter h1{
    margin-top:40px;
    font-weight: 500;
    margin-bottom:30px;
    float: left;
    
}
.letter p{
   
    font-weight: 300;
    text-align: justify;
    
}







